.DS_Store
.gradle/
.idea/
MathTutor/.idea/
MathTutor/logs/
logs/
gradlew.bat
Final_Project.iml
.out/*
out/*

RL_dialog_manager/__pycache__/*
RL_dialog_manager/.idea/*
RL_dialog_manager/data/*
RL_dialog_manager/utils/__pycache__/*

emotion_recognition_server/__pycache__/*
emotion_recognition_server/.idea/*
emotion_recognition_server/.ipynb_checkpoints/*
*.jpg
emotion_recognition_server/places/*
emotion_recognition_server/models/*
emotion_recognition_server/experiment/*
emotion_recognition_server/assets/*