.DS_Store
.gradle/
.idea/
MathTutor/.idea/
MathTutor/logs/
logs/
gradlew.bat
Final_Project.iml
.out/*
out/*

RL_dialog_manager/__pycache__/*
RL_dialog_manager/.idea/*
RL_dialog_manager/data/*
RL_dialog_manager/utils/__pycache__/*